@page
@model TasteRestaurant.Pages.FoodTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<br /><br />
      <h2>
        إدارة قائمة أقسام المطاعم المتوفرة 
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          
          <a asp-page="Create" type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span>
              &nbsp; إنشاء قسم جديد
          </a>
      </h2>
<div class="form-border">
    <table class="table">
        <tr>
            <th>
                @*  @Html.DisplayNameFor(m => m.FoodType[0].Name)*@
                اسم قسم جديد
            </th>
            
            <th></th>
        </tr>
        @foreach (var item in Model.FoodType)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name) </td>
                <td>
                    @Html.Partial("_TableButtonsPartial", new IndividualButtonPartial { Id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
